<div class="control-root" style="padding:1px;">
    <CascadingValue Value="this">
        <div class="control-strip-root">
            <TabStrip></TabStrip>
        </div>
        <div id="@ViewportId" class="control-content-root">
            @ChildContent
        </div>
    </CascadingValue>
</div>