@page "/"
<PageTitle>Home</PageTitle>

<GridPanel>
    <RowDefinitions>
        <RowDefinition Height="64px"></RowDefinition>
        <RowDefinition Height="*"></RowDefinition>
        <RowDefinition Height="auto"></RowDefinition>
    </RowDefinitions>

    <PanelItem GridRow="1" GridColumn="1">
        <div class="panel-root panel-decaration">
            <h2>Fixed size banner here</h2>
        </div>
    </PanelItem>
    <PanelItem GridRow="2" GridColumn="1">
        <TabbedContent/>
    </PanelItem>
    <PanelItem GridRow="3" GridColumn="1">
        <div class="panel-root panel-decaration" style="padding:0.5rem 1rem;">
            Footer
        </div>
    </PanelItem>
</GridPanel>














