.panel-root {
    width: auto;
    height: auto;
    margin: 0;
}

.panel-decaration {
    border: 1px dashed #2E4D5D;
    border-radius: 4px;
}

h2 {
    padding: 0 1rem;
}

.centered-in-grid {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontal alignment */
    align-items: flex-start; /* Vertical alignment */
    height: 100%;
    width: 100%;
    padding: 1rem 2rem;
}

div:has(p) {
    text-align: right;
    font-size: 1.25rem;
    margin-top: 1rem;
    line-height: normal;
}
