.panel-root {
    display: flex;
    width: auto;
    height: auto;
    margin:0;
}

.panel-decoration {
    border: 1px dashed #2E4D5D;
    border-radius: 4px;
}

.centered-in-grid {
    display: flex;
    justify-content: center; /* Horizontal alignment */
    align-items: center; /* Vertical alignment */
    height: 100%;
    width: 100%;
}
